.bontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  max-width: 800px;
  margin: 20px auto 0;
}

@media only screen and (max-width: 768px) {
  .bontainer {
    width: 90%;
  }
}

.box {
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-bar {
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom: 20px;
}

.search-button {
  background-color: #319795;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.profile-container {
  margin-top: 20px;
}

.profile-box {
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-header-text {
  font-size: 24px;
  font-weight: bold;
}

.profile-badge {
  margin-left: 10px;
}

.send-message-button {
  background-color: #48bb78;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.view-posts-button {
  margin-top: 10px;
  background-color: blue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.message-form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.apply-moderator-button {
  background-color: orange;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.apply-therapist-button {
  background-color: blue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}